@font-face {
  font-family: font1;
  src: url(./fonts/stay_and_shine/Stay\ and\ Shine.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

html,
body {
  height: 100%;
  width: 100%;
  user-select: none;
  /* background: #000; */
  /* font-family: font1; */
  /* background: #caecf9; */
}

.split-text {
  font-weight: bold;
  letter-spacing: -2px;
  display: inline-block;
}
.mainpage1{
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("./imgs/Fri_12_07_2024_20_09_00.png") no-repeat 
  center;
  background-size: 100% 100%;
}
.mainpage1::after{
  content: '';
  position: absolute;
 left: 0;
 bottom: -30px;
  width: 100%;
  /* height: 100%; */
  border: 2px solid #000;
}
.page1 {
  width: 100%;
  height: 100vh;
  top: 50px;
  position: relative;
  background-position: center;
  background-image: url("./imgs/mainpage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: auto 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: #bce4f5;

}
.page1::after{
  content: '';
  position: absolute;
 left: 0;
 bottom: 0;
  width: 100%;
  /* height: 100%; */
  border: 4px solid #000;
}
nav {
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  width: 100%;
  height: 10vh;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-r {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav-r a {
  color: #fff;
  text-decoration: none;
}

.nav-r a {
  position: relative;
  display: inline-block;
  padding: 8px 15px;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  transition: color 0.3s ease, transform 0.2s ease-out;
  overflow: hidden;
  z-index: 1;
}

.nav-r a:hover {
  color: #fff;
  transform: scale(1.1) rotate(-2deg) skew(1deg, 1deg);
  background-color: rgba(54, 89, 242, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.nav-r a:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(
    circle at center,
    transparent,
    rgba(54, 89, 242, 0.5),
    transparent
  );
  transition: all 0.6s ease-in-out;
  transform: translate(-50%, -50%) scale(0);
  animation: burst 0.4s ease-in-out forwards;
  z-index: -1;
}
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  background-color: #4683bd;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

/* Dropdown button hover effect */
.dropbtn:hover {
  background-color: #315f8a;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

/* Show the dropdown menu when the user hovers over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}
@keyframes burst {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

@keyframes particle {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -150%) scale(0.5);
    opacity: 0;
  }
}

.particle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.particle {
  position: absolute;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  pointer-events: none;
  animation: particle 0.6s linear forwards;
}

.section1 {
  color: #208da8;
  font-size: 24px;
  letter-spacing: -2px;
  text-align: center;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  width: 600px;
}
.section1 h1{
  text-align: center;
}
.section1 h1 span {
  letter-spacing: -12px;
  display: inline-block;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  margin: 30px;
  text-align: left;
}

.button {
  background-color: #469fbd;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 0;
  font-weight: bold;
  letter-spacing: 1px;
  /* text-shadow: 2px 2px 4px rgba(54, 89, 242, 0.62); */
  filter: saturate(2);
  -webkit-filter: saturate(2);
  /* margin-top: 40px; */
}

a {
  /* color: #4683bd; */
  text-decoration: none;
}

#page2 {
  width: 100%;
  height: 100vh;
  padding: 10px;
  /* background: #caecf9; */
}
.page2::after{
  content: '';
  position: absolute;
 left: 0;
  width: 100%;
  /* height: 100%; */
  border: 4px solid #000;
}
.header {
  color: #709ac4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.header h1 {
  font-size: 72px;
  letter-spacing: -7px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.475);
  filter: saturate(2);
  -webkit-filter: saturate(2);
  /* text-align: center; */
  overflow: hidden;
  min-width: 220px;
  -webkit-filter: saturate(2);
}

.section1 h1 span {
  letter-spacing: -12px;
  display: inline-block;
}

.split-page2 span {
  font-family: font1;
  display: inline-block;
}

#page2 {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}
.page2-c{
  height: 100%;
  width: 100%;
  /* background: #0f4c75; */
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.p2-body {
  font-size: 2vw;
  /* margin-left: 50px; */
}

.p2-body h2 {
  font-weight: bolder;
}

.class-p {
  display: flex;
  gap: 17px;
  font-size: 20px;
  /* width: 90%; */
  flex-direction: column;
}

.page2-flex {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
}

.flex-r {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-r img {
  width: 400px;
  height: auto;
}

.arr {
  font-weight: 900;
  transition: 0.3s ease;
}

.top-p2 {
  overflow: hidden;
}

#page3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 20px;
  /* background: #caecf9; */
}
.page3::after{
  content: '';
  position: absolute;
 left: 0;
 bottom: 0;
 top:vh;
  width: 100%;
  /* height: 100%; */
  border: 4px solid #000;
}
.page3-c {
  display: flex;
  gap: 20px;
  /* flex-direction: column; */
  align-items: center;
  padding: 30px;
  border-radius: 10px;
}
.header3 {
  display: flex;
  font-family: font1;
  align-items: center;
  /* background: #000; */
  justify-content: center;
  
  height: 80px;
}
.header3 h1 {
  font-size: 72px;
  letter-spacing: -1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.877);
  filter: saturate(2);
  color: #709ac4;
  -webkit-filter: saturate(2);
  /* text-align: center; */
  font-size: font1;
  width: 165px;
  text-wrap: nowrap;
  -webkit-filter: saturate(2);
}
.split-page3 span {
  letter-spacing: -12px;
  font-family: font1;
  display: inline-block;
}



/* From Uiverse.io by joe-watson-sbf */
.flip-card {
  background-color: transparent;
  width: 290px;
  height: 380px;
  perspective: 1000px;
  font-family: sans-serif;
  padding: 20px;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgb(80, 217, 255);
  border-radius: 1rem;
}

.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgb(80, 200, 255);
  border-radius: 1rem;
}

.flip-card-back p {
  margin-top: 20px;
  font-weight: 900;
}

.flip-card-front {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(
    120deg,
    rgb(196, 252, 255) 60%,
    rgb(222, 251, 255) 88%,
    rgb(195, 237, 255) 40%,
    rgba(41, 129, 156, 0.603) 48%
  );
  color: rgb(55, 129, 158);
}

.flip-card-back {
  background: linear-gradient(
    120deg,
    rgb(196, 252, 255) 60%,
    rgb(222, 251, 255) 88%,
    rgb(195, 237, 255) 40%,
    rgba(41, 129, 156, 0.603) 48%
  );
  color: rgb(92, 181, 205);
  transform: rotateY(180deg);
}

.span-color {
  color: #1b88a6;
  /* background-color: #ff6347; */
  padding: 5px;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}

.mobile_nav,
.mobile_nav_ {
  display: none;
}

.header3 {
  font-size: 40px;
  font-family: font1;
}
.page4{
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.page4::after{
  content: '';
  position: absolute;
 left: 0;
 top: 0;
 /* bottom: 0; */
  width: 100%;
  /* height: 100%; */
  border: 4px solid #000;
}

.page4 h1{
  color:#399DF1;
  font-size: 72px;
  letter-spacing: -1px;
  text-shadow: 2px 2px 4px rgba(51, 135, 150, 0.877);

}
.page4-c{
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
/* From Uiverse.io by alexmaracinaru */ 
.card {
  width: 300px;
  height: 400px;
  background: #26567a;
  border-radius: 15px;
  /* margin-bottom: 400px;   */
  /* box-shadow: 1px 5px 60px 0px #100a886b; */
 }
 
 .card .card-border-top {
  width: 60%;
  height: 3%;
  background: #888b8c;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
 }
 
 .card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 20px;
  font-size: 20px;
 }
 
 .card .job {
  font-weight: 400;
  margin: 5px;
  color: white;
  display: block;
  text-align: center;
  padding-top: 5px;
  font-weight: 600;
  font-size: 20px;
 }
 
 .card .img {
  width: 120px;
  height: 120px;
  background: #6b64f3;
  border-radius: 100px;
  margin: auto;
  margin-top: 25px;
  overflow: hidden;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
 
 .card button {
  padding: 8px 20px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 80px;
  background: #888b8c;
  color: white;
  font-weight: 600;
 }
 
 .card button:hover {
  background: #399DF1;
 }
 .team {
   width: 100%;
   height: auto;
   object-fit: cover;
 }
 
  @media (max-width: 1200px) {
    body {
      font-size: 16px;
    }
   .section1 {
      font-size: 16px;
    }
   .description {
      font-size: 18px;
    }
   .header h1 {
      font-size: 28px;
    }
   .contact-info p {
      font-size: 14px;
    }
  }
@media (max-width: 900px) {
  .section1 {
    color: #fff;
    font-size: 14px;
    letter-spacing: 4px;
    text-align: center;
    padding: 0px;
    width: 1000px;
  }

  .section1 h1 span {
    letter-spacing: -5px;
    display: inline-block;
  }

  .description {
    font-size: 16px;
    line-height: 1.1;
    margin: 10px;
  }

  .header h1 {
    font-size: 22px;
    letter-spacing: -1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.877);
    filter: saturate(2);
    -webkit-filter: saturate(2);
    /* text-align: center; */
    overflow: hidden;
    min-width: 80px;
    -webkit-filter: saturate(2);
  }

  #page2 {
    width: 100%;
    min-height: 10vh;
    padding: 10px;

  }

  .class-p {
    display: flex;
    gap: 1px;
    font-size: 16px;
    width: 100%;
    flex-wrap: wrap;
  }

  .page2-flex {
    display: flex;
    /* gap: 2px; */
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 3px;

  }

  .flex-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flex-r img {
    width: 250px;
    height: auto;
  }

  .arr {
    font-weight: 900;
    transition: 0.3s ease;
  }

  .top-p2 {
    overflow: hidden;
  }

  #page3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0px;

    color: #ffffffe0;
  }

  .page3-c {
    flex-direction: column;
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    /* background-color: #7f7fe4;/ */
    color: #fff;
  }
}

@media (max-width: 750px) {

  .page1 {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section1 {
    font-size: 14px;
    letter-spacing: 4px;
    text-align: center;
    padding: 0px;
    width: 1000px;
  }

  .section1 h1 span {
    letter-spacing: -5px;
    display: inline-block;
  }

  .description {
    font-size: 16px;
    line-height: 1.1;
    margin: 10px;
  }

  .header h1 {
    font-size: 32px;
    letter-spacing: -1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.877);
    filter: saturate(2);
    -webkit-filter: saturate(2);
    /* text-align: center; */
    /* overflow: hidden; */
    min-width: 117px;
    -webkit-filter: saturate(2);
  }
  .header3 h1 {
    font-size: 32px;
    letter-spacing: -1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.877);
    filter: saturate(2);
    color: #fff;
    -webkit-filter: saturate(2);
    /* text-align: center; */
    font-size: font1;
    width: 78px;
    text-wrap: nowrap;
    -webkit-filter: saturate(2);
  }
  .split-page3 span {
    letter-spacing: -3px;
  }
  #page2 {
    margin-top: 40vh;
    width: 100%;
    min-height: 100vh;
    padding: 20px;

  }
  .class-p {
    display: flex;
    gap: 1px;
    font-size: 16px;
    width: 100%;
    flex-direction: column;
  }
 .page2-h2{
  font-size: 20px;
 }
  .page2-flex {
    display: flex;
    /* gap: 2px; */
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    border-radius: 10px;
  }
  .flex-r {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-r img {
    width: 250px;
    height: auto;
  }
  .arr {
    font-weight: 900;
    transition: 0.3s ease;
  }
  .top-p2 {
    overflow: hidden;
  }
  #page3 {
    margin-top: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0px;

  }
  .page3-c {
    flex-direction: column-reverse;
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
    align-items: center;
    padding: 30px;
    border-radius: 10px;
  }
  .page4{
    margin-top: 80vh;
    min-height: 280vh;

  }
  .page4-c{
    overflow: auto;
    width: 100%;
    min-height: 200vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .nav {
    display: none;
  }
  .mobile_nav {
    width: 100%;
    height: 10vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw
  }

  .mobile_nav > .left_mobile_nav .left_mobile_nav_img img {
    scale: 1.3;
    margin-left: 20px;
  }

  .mobile_nav > .right_mobile_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 6vw;
    gap: 2vw;
    position: relative;
  }

  .mobile_nav > .right_mobile_nav .nav_line {
    width: 100%;
    height: 2px;
    background: #000000;
    border-radius: 20px;
  }

  .mobile_nav_ {
    display: block;
    width: 100%;
    height: 100vh;
    background: #27272793;
    z-index: 1;
    position: fixed;
    top: 0;
    right: -100vw;
  }

  .mobile_nav-_ {
    width: 100%;
    height: 100%;
    /* background: #000; */
    /* color: #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile_nav_box {
    display: flex;
    flex-direction: column;
    gap: 8vw;
  }

  .mobile_nav_box > a {
    font-size: 8vw;
    color: #ffffff;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    letter-spacing: 0.6vw;
  }

  .text-page1_ h1 {
    position: absolute;
    top: 3%;
    left: 30%;
    /* font-family: font1; */
    font-size: 6vw;
    letter-spacing: 5px;
    width: 50%;
    color: var(--secondary-color);
  }

  .text-page1_ p {
    position: absolute;
    top: 10%;
    left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    width: 50%;
    color: var(--secondary-color);
  }
}


@media screen and (max-width: 768px) {
  footer{
    top: 100vh;
  }
  .about{
    width: 100%;
    height: 200vh;
    margin-top: 50px;
    padding: 10px;
    flex-direction: column;
  }
  .about_left, .about_right {
    width: 100%;

    height: 100vh;
  }
  .about_left h1, .about_right h1{
    font-size: 24px;
  }
  .about_left p, .about_right p{
    font-size: 14px;
  }
  nav {
    height: 8vh;
  }
  nav.about-nav-r {
    gap: 10px;
  }
  nav.about-nav-r a {
    padding: 10px 10px;
  }
  nav.about-nav-r a:hover {
    background-color: rgba(54, 89, 242, 0.3);
  }
  nav.dropdown-content {
    min-width: 120px;
  }
  nav.dropdown:hover .dropdown-content {
    display: block;
  }
  nav.dropdown-content a {
    font-size: 14px;
  }
  nav.particle {
    width: 3px;
    height: 3px;
  }
  nav.particle-container {
    top: 10px;
    left: 10px;
  }
  nav.particle {
    animation: particle 0.5s linear forwards;
  }
  nav.about {
    padding: 10px;
  }
  nav.about_left, .about_right {
    padding: 10px;
  }
  nav.about_left h1, .about_right h1{
    font-size: 18px;
  }
  nav.about_left p, .about_right p{
    font-size: 12px;
  }
  .about_right{
    width: 100%;      
    /* padding: 20px; */
    background: #000;
    height: 100%;
    background: url("../imgs/_2d535382-60a6-4c50-b5ee-c89e585ad837.jpeg") repeat scroll center ;
    background-size: cover;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); 
  }
}